table {
  width: 60%;
}

table

th {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(102, 4, 172, 0.749);
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(73, 71, 71, 0.194);
}

input {
  display: block;
  height: max-content;
}

section {
  border: 1px solid black;
  margin-top: 10px;
}