table {
    width:60%;
  }
  table
  th{
 background-color:  rgba(149, 155, 159, 0.339);
  }
  td {
    border: 1px solid black;
    text-align: center;
  }
  input {
    display: block;
    height: max-content;
  }
  section {
    border: 1px solid black;
    margin-top: 10px;
  }
  